<!-- About Section -->
<section id="download" class="container content-section text-center">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<br />
			<br />
			<h2>Téléchargements</h2>
			<br />
			<p>Télécharger l'archive qui vous concerne et décompresser la
				dans le répertoire de votre choix :</p>
			<ul class="list-group">
				<li class="list-group-item"><a
					href="https://github.com/algorys/agshmne/releases/download/v0.0.3-ALPHA/agshmne-packager-0.0.3-ALPHA-packager.zip">Archive
						au format .zip</a></li>
				<li class="list-group-item"><a
					href="https://github.com/algorys/agshmne/releases/download/v0.0.3-ALPHA/agshmne-packager-0.0.3-ALPHA-packager.tar.gz">Archive
						au format .tar.gz</a></li>
                <li class="list-group-item"><a
                    href="https://github.com/algorys/agshmne/releases/download/v0.0.3-ALPHA/agshmne-packager-0.0.3-ALPHA-packager.tar.bz2">Archive
                        au format .tar.bz2</a></li>

			</ul>
			<div class="panel panel-default" style=text-align:justify>
			<p>Vous devez avoir Java 7 (minimum requis) d'installé sur votre PC : <a href="https://www.java.com/fr/">https://www.java.com/fr/</a>
			</p>
				<p>
					Pour démarrer le jeu, lancer le script correspondant à votre OS :<br />
					<ul>
					<li>Pour Windows, exécutez <code>agshmne.bat</code><br /></li>
					<li>Pour Linux, exécutez les commandes suivantes :<br /></li>
					<code>
						chmod +x agshmne.sh<br> ./agshmne.sh
					</code>
					</ul>
				</p>
			</div>
			<br />
		</div>
	</div>
</section>
